@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
}

* {
  margin: 2%;
  margin-top: 1%;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}



/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */

/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* ------------------------------ Navbar ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Header ------------------------------ */

header{
  display: flex;
  justify-content: space-between;

}

#presentation{
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4%;
  padding: 5%
  
}

.textBtnBox{
  flex-direction: column-reverse;
}

#presentation> div {
  width: 46%;
}

.presentationText h1{
  font-size: 3.9rem;
  color: #292e47;
}

.presentationText p{
  font-size: 1.3rem;
  color: #6b708d;
  font-weight: 400;
  line-height: 150%;
  margin: 30px 0 50px 0;
}


.btnsPresentation{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
}

.btnWhite{
  margin-bottom: 30px;
  background-color: #072ac8;
  color:antiquewhite;
  padding: 2%;

}

.btnBlue{
  margin-bottom: 30px;
  color: #292e47;
  padding: 2%;

}

.imgBlock{
  position: relative;
}

.creditCard{
  position: absolute;
  left: -20%;
  top: 0%;
  right: auto;
  bottom: auto;
  max-width: 55%;
}

.heroImg{
  width: 100%;

}

.card2{
  position: absolute;
  left: auto;
  top: auto;
  right: -25%;
  bottom: -20%;
  max-width: 55%;
  /* z-index: 999; */

}



/* ------------------------------ Partners ------------------------------ */

/* Your CSS code goes here */
.title{
  margin: 100px 0 75px 0;
}

.title h2{
  font-size: 2rem;
}
/* ------------------------------ Recent projects ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Client reviews ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Services ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Questions form ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Footer ------------------------------ */

/* Your CSS code goes here */

/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* Your CSS code goes here */

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
  /* Your CSS code goes here */
}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  /* Your CSS code goes here */
}

/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */
