@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}



/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */

/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* ------------------------------ Navbar ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Header ------------------------------ */

header{
  
  display: flex;
  justify-content: space-around;
  padding-top: 90px;
  padding-bottom: 90px;
}
#header-ul{
  width: 20%;
 
}
#header-ul>ul{
  display: flex;
  justify-content: space-between;
  
}
#header-ul>ul
header>button{
  background-color: blue;
  height: 50px;
  color: white;
  width: 144px;
  color: grey;
  align-items: baseline;
}
header button{
  background-color: blue;
  color: white;
  width: 144px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #072ac8;
}
header button>a{
  color: white;
}
/* ------------------------------ Partners ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Recent projects ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Client reviews ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Services ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Questions form ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Footer ------------------------------ */

footer{
  display: flex;
  justify-content: space-between;
  margin-top:70px;
  margin-bottom: 70px;
}
.footer-left img{
  width: 95px;
  margin-bottom: 15px;
}

.footer-right>ul{
  display: flex;
  color: blue;
  width: 55%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.footer-right>ul>li{
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 0;
  width: 100px;
}


/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */
h2{
  margin-bottom: 15px;
  margin-left: 20px;
}
.music ul{
  display: flex;
  flex-direction: column;
}
.li-about{
  text-align: center;
  margin-top: 25px;
}
h6{
  display: inline;
  font-size: 16px;
}
li p{
  display: inline-block;
}
.center-iframe{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
iframe{
  display: flex;
  width: 30%;
  align-items: center;
  height: 250px;
}

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
  /* Your CSS code goes here */
}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  /* Your CSS code goes here */
}

/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */
