@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
}

* {
  margin: 2%;
  margin-top: 1%;
  padding: 0;
  box-sizing: border-box;
}


li{
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}


/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */
main{
  width: 80%;
}
/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* ------------------------------ Navbar ------------------------------ */

/* Your CSS code goes here */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #292e47;
}
/* ------------------------------ Header ------------------------------ */


header{
  
  display: flex;
  justify-content: space-around;
  padding-top: 90px;
  padding-bottom: 90px;
}
#header-ul{
  width: 20%;
 
}
/* .bar{
  display: block;
  width: 25px;
  height: 3px;
  margin:5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out ;
} */
#header-ul>ul
header>button{
  background-color: blue;
  height: 50vw;
  color: white;
  width: 144px;
  color: grey;
  align-items: baseline;
}
#header-ul>ul>li{
  width: 799vw;
}
header button{
  background-color: blue;
  color: white;
  width: 144px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #072ac8;
  
}
header button>a{
  color: white;
  text-decoration: none;
}
#header-ul>ul{
  display: flex;
  justify-content: space-between;
  
}
#header-ul>ul>li>a{
  color: #000;
  text-decoration: none;
  width: 70vw;
}

#presentation{
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4%;
  padding: 5%
  
}

.textBtnBox{
  flex-direction: column-reverse;
}

#presentation> div {
  width: 46%;
}

.presentationText h1{
  font-size: 3.9rem;
  color: #292e47;
}

.presentationText p{
  font-size: 1.3rem;
  color: #6b708d;
  font-weight: 400;
  line-height: 150%;
  margin: 30px 0 50px 0;
}


.btnsPresentation{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
}

.btnWhite{
  margin-bottom: 30px;
  background-color: #072ac8;
  color:antiquewhite;
  padding: 2%;
  text-decoration: none;
  font-weight: bold;

}

.btnBlue{
  margin-bottom: 30px;
  color: #292e47;
  padding: 2%;
  text-decoration: none;
  font-weight: bold;
}

.imgBlock{
  position: relative;
}

.creditCard{
  position: absolute;
  left: -20%;
  top: 0%;
  right: auto;
  bottom: auto;
  max-width: 55%;
}

.heroImg{
  width: 100%;
}

.card2{
  position: absolute;
  left: auto;
  top: auto;
  right: -25%;
  bottom: -20%;
  max-width: 55%;
  /* z-index: 999; */
}

.hamburger{
  display: none;
  cursor:pointer
}
#header-ul>ul
header>button{
  background-color: blue;
  height: 50vw;
  color: white;
  width: 144px;
  color: grey;
  align-items: baseline;
}
#header-ul>ul>li{
  width: 799vw;
}

/* ------------------------------ Partners ------------------------------ */

/* Your CSS code goes here */
.title{
  margin: 100px 0 75px 0;
}

.title h2{
  font-size: 2rem;
}

#logos{
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  animation: none;
  justify-content: center;
  align-items: center;
  margin-left:5%;
  overflow-x: hidden;
  /* background: red; */
}
.logosBox{
  justify-content: space-around;
  flex-direction: row;
  display: flex;
  margin: 76px 100px; 
  animation: scrolling 15s linear infinite;
  /* position: fixed; */
  left: 0;
  bottom: 400px;
}

.logosBox img{
  width: 7vw;
  flex-shrink: 0;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5vw;
}


.logoSize{
  width: 4rem
}

@keyframes scrolling {
  0%{
        transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}
  

/* ------------------------------ Recent projects ------------------------------ */

.projectsBox{
      display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin: 0 40px 0 40px;
    width: 100%;
  }

  .projectTitle{
    margin-left: 30px;
  }

  .projectsImg{
    object-fit: cover;
    max-height: 25vw;
    max-width: 25vw;
    height: 25vw;
    width: 25vw;
    height: 240px;
    width: 300px;
  }

  #projects .projectsBox{
    display: flex;
    flex-direction: row;
    /* max-width: 50vw; */
  }

/* ------------------------------ Client reviews ------------------------------ */
#reviews {
  background-color: #292e47;
  background-image: url("../images/testimonial-section/orbit.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  margin-top: 150px;
  max-width: 1215px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
#reviews-center{
  display: flex;
  justify-content: center;
  
}

#reviews h2 {
  color: white;
  font-size: 2rem;
}

#reviews p {
  width: 55%;
  color: gold;
  font-size: 1.5rem;
}

.clientReview {
  width: 17%;
  display: flex;
  /* justify-content: space-around; */
}

.clientReview img {
  width: 50px;
  height:50px;
  border-radius: 100px;
  margin-right: 10px;
}

.clientReview h4 {
  color: #7cc2ff;
  font-weight: 400;
}

.clientReview h5 {
  color: white;
  font-weight: 400;
}

.clientReview div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.memoji-1 {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 10%;
  top: 10%;
  right: auto;
  bottom: auto;
}
.memoji-2 {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 10%;
  top: 10%;
  left: auto;
  bottom: auto;
}
.memoji-3 {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 10%;
  bottom: 10%;
  right: auto;
  top: auto;
}
.memoji-4 {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 10%;
  bottom: 10%;
  left: auto;
  top: auto;
}


/* ------------------------------ Services ------------------------------ */

.services{
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 45px;
    grid-row-gap: 0px;
    -ms-grid-row-align: center;
    background-color:#f2f4fc ;
    padding: 15px;
  }
  .services-list{
    background-color: #ffffff;
     padding-top:1vw;
    padding-bottom:1vw;
    padding-left:3vw;
    padding-right:3vw; 
    width: 60%;
    margin-bottom:20px;
  }
  .icon-main{
    background-color: #f2f4fc;
    padding: 20px;
    border-radius: 35px;
  }
  .services button{
    color:#072ac8;
    border: none;
    background-color: #ffffff;
    margin-top: 5px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;

  }
/* ------------------------------ Questions form ------------------------------ */

#questions {
  background-color: #ffc600;
  height: 400px;
  margin-top: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#questions p {
  color: #6c718b;
  
  margin: 0px 0 50px 0;
}

.titleQuestion h2 {
  font-size: 2.5rem;
  width: 100%;
  color: #292e47;
}
.letter{
  background: url("../images/newsletter/icon/mail.svg") no-repeat scroll 7px 7px;

}
.form-yellow{
  margin: 0;
}
.button-yellow{
  margin:0;
}
#email-input {
  border: 0;
  height: 70px;
  font-weight: 400;
  font-size: 1.1rem;
  width: 500px;
  background: url("../images/newsletter/icon/mail.svg") no-repeat scroll 7px 7px;
  background-position: 3% 50%;
  background-color: white;
  
}

.emailQuestion {
  width: 100%;
}

#email-sub-btn {
  background-color: #072ac8;
  color: #bec7f1;
  font-weight: 500;
  font-size: 1.05rem;
  padding: 25px 50px 25px 50px;
  text-decoration: none;
  margin-left: 12px;
}
.question-form{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: raw;
}
.question-form form{
  display: flex;
}
.fa-thin {
  width: 200px;
}

/* ------------------------------ Footer ------------------------------ */

footer{
  display: flex;
  justify-content: space-between;
  margin-top:70px;
  margin-bottom: 70px;
  background-color: #f2f4fc;
}
.footer-left img{
  width: 95px;
  margin-bottom: 15px;
}

.footer-right>ul{
  display: flex;
  color: blue;
  width: 55%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.footer-right>ul>li{
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 0;
  width: 100px;
}


/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */
body{
  background-color: #f2f4fc;
}
.project{
  background-color: #ffffff;;
}
.top-img{
  display: flex;
  
}
.img-flex{
  display: flex;
  justify-content: center;
}
.projects-section1{
  width: 100%;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  margin-bottom: 30px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  
}
main p{
  font-size: 20px;
  color: #a9acb7;
}

/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

h1{
  color:#292e47;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 48px;
}
form{
  margin: 0 auto;
  width: 80%;
  
}
form h4{
  display: inline-block;
}
.center-form{
  display: flex;
}
.center-form li{
  width: 50%;
}
input{
  width: 100%;
  background-color: #e4e6f0;
  border: none;
  height: 80px;
  margin-bottom: 30px;
} 

#form-name{
  width: 100%;
}
#form-mail{
  width: 96%;
}
label{
  color:#ceced2;
  
}
::placeholder{
  color:#ceced2;
  font-size: 20px;
  padding: 10px;
}

textarea{
  width: 100%;
  background-color: #e4e6f0;
  border: none;
  margin-top: 10px;
}
input{
  width: 100%;
  margin-top: 10px;
}
#submit-form{
  width: 100%;
  height: 65px;
  background-color: #6a7fde;
  color: #ffffff;

}

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */
h2{
  margin-bottom: 15px;
  margin-left: 20px;
}
.music ul{
  display: flex;
  flex-direction: column;
}
.li-about{
  text-align: center;
  margin-top: 25px;
}
h6{
  display: inline;
  font-size: 16px;
}
li p{
  display: inline-block;
}
.center-iframe{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
iframe{
  display: flex;
  width: 30%;
  align-items: center;
  height: 250px;
}

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
  /* DIEGO SAYS THAN WE DON'T HAVE TO DO IT! */
}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  main{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  header button{
    display: none;
  }
  .nav-link{
    transition: 0.7s ease;
  }
  .nav-link:hover{
    color: dodgerblue;
  }
  .hamburger{
    display: block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity:0
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap:0;
    flex-direction: column;
    background-color: #c8c8c8;
    width: 100%;
    text-align: left;
    transition: 0.3s;
    z-index: 999;
  }
  .nav-item{
    margin: 16px 0;
  }
  .nav-menu.active{
    left: 0;
  }
/*   .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin:5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out ;
  } */
  .creditCard{
    display: none;
  }
  .card2{
    display: none;
  }
  #presentation{
    flex-direction: column;
    text-align: center;
  }
  #presentation h1{
    flex-wrap: wrap;
    font-size: 40px;
  }
  /* #logos{
    flex-wrap: wrap;
  } */
  .logosBox{
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  #reviews{
    display: flex;
    justify-content: center;
  }
  .project{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    background-color: #ffffff;
}
  
  .logoSize {
    width: 6rem;
    margin: 2vw;
}
  #projects .projectsBox{
    display: flex;
    flex-direction: column;
  }
  .projectsImg{
    min-width: 100%;
    margin:0;
    max-height: 50vw;
  }
  #questions{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;

  }
  #reviews{
    margin-left: 0px;
    margin-right: 0px;
  }
  .reviews-center{
    min-width: 125%;
  }
  .memoji-1{
    display: none;
  }
  .memoji-2{
    display: none;
  }
  .memoji-3{
    display: none;
  }
  .memoji-4{
    display: none;
  }
  #services{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .services{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
  }

  #email-input{
    width: 80%;
  }
#email-sub-btn{
  display: block;
  margin: 0 auto;
  width: 80%;
}
/* Footer */
footer{
  flex-direction: column;
  align-items: center ;
}
.footer-right{
  display: flex;
  justify-content: center;
}
/* Form */
form{
  display: flex;
  flex-direction: column;
}
.center-form{
  display: block;
}
.center-form li{
  width: 100%;
}
}
/* Center text */


/* ------------------------------ Hamburger menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

.scrollUp {
    position: sticky;
    bottom: 0;
    color:black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    z-index: 999;
}

.scrollUp:hover{
background: black;
color: white;
}

.our-links{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.299);
}

.our-links:active{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.299);
}

.our-links:hover{
  text-decoration: none;
  color: white;
}
